<div class="container-logado">

    <ul>
        <li>
            <form action="/vencimentos/views/{{vencimento.id}}">
                <input type="hidden" name="passarUsuario1" value="{{pessoa2.id}}">
                <input type="submit" value="Meus vencimentos">
            </form>
        </li>
        <li>
            <form action="/vencimentos/cadastrar/{{vencimento.id}}">
                <input type="submit" value="Cadastrar Vencimento">
            </form>
        </li>



    </ul>
</div>
<div class="container-detalhesVencimento">
    <div class="detalhes2">

        <h2>{{vencimento.produto}}</h2>
        <p><span>Código do produto:</span>{{vencimento.ean}}</p>
        <p> <span>Fornecedor:</span> {{vencimento.fornecedor}}</p>
        <p><span>Quantidade:</span>{{vencimento.quantidade}}</p>
        <p><span>Data de vencimento:</span>
            <script>
                const data = "{{vencimento.data}}";
                if (data && data !== "null") {
                    document.write(new Date(data).toLocaleDateString('pt-BR'));
                } else {
                    document.write("Sem data");
                }
            </script>
        </p>
        <div class="acoes">
            <form action="#">
                <input type="submit" value="Atualizar">
            </form>
            <form action="/vencimentos/excluir/{{vencimento.id}}" method="post">
                <input type="submit" value="Excluir">
            </form>
        </div>

    </div>
</div>